---
import type { Skill } from '../types';

interface Props {
	data: Skill;
}

const { data } = Astro.props;
---

<div class='flex flex-col items-center justify-between'>
	<img
		alt={data.name}
		src={`/images/icons/${data.icon}.svg`}
		width={50}
		height={50}
		class='w-14 h-14'
	/>
	<small class='font-bold mt-2'>{data.name}</small>
</div>
