---
import type { Skill } from '../types';

interface Props {
	data: Skill;
}

const { data } = Astro.props;
---

<div
	class='h-min p-2 flex flex-col items-center justify-between rounded-lg overflow-hidden bg-gray-100 dark:bg-gray-600'
>
	<i class='[&>*]:w-10 [&>*]:h-10 flex items-center justify-center'
		><Fragment
			set:html={import(`../assets/icons/${data.icon}.svg?raw`).then(
				(i) => i.default
			)}
		/></i
	>
	<small class='font-semibold tracking-tight block w-full text-center mt-1'
		>{data.name}</small
	>
</div>
