---
import type { WorkExperience } from '../../types';
import dayjs from 'dayjs';
import 'dayjs/locale/es-mx';

interface Props {
	workExperience: WorkExperience;
}

const { workExperience } = Astro.props;

dayjs.locale('es-mx');
---

<div class='flex flex-col'>
	<b>{workExperience.title}</b>
	<span
		>{workExperience.institution} | {workExperience.city}, {
			workExperience.country
		}</span
	>
	<div class='capitalize space-x-2 text-sm italic print:text-xs'>
		<span>
			{dayjs(workExperience.start_date).format('MMMM, YYYY')}
		</span>
		<span>-</span>
		<span>
			{
				workExperience.end_date ? (
					dayjs(workExperience.end_date).format('MMMM, YYYY')
				) : (
					<b>actualmente</b>
				)
			}
		</span>
	</div>

	<ul class='list-disc ml-8 mt-2'>
		{workExperience.goals.map((g) => <li>{g}</li>)}
	</ul>
</div>
